<%- include("partials/header"); -%>

    <section class="home">
        <div class="home-wrapper">
            <div class="header">
                <h1>Welcome To <span>PostIT</span> </h1>
                <p>Let's share secret anonymously!</p>
            </div>

            <div class="home-sign">
                <a href="/signup">Sign Up</a>
                <a href="/login">Sign  In </a>
            </div>
        </div>
    </section>

    <%- include("partials/footer"); -%>